* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #7DA78C;
}

.box {
    background-color: #35858E;
    color: black;
    padding: 60px;
    min-height: 300px;
    width: 90%;
    max-width: 500px;

    border-radius: 20px;
    box-shadow: 0px 10px 25px black;
    text-align: center;
}

#heading {
    color: white;
    text-shadow: 2px 2px 10px black;

    font-size: 40px;

}

#btn {
    padding: 15px;
    background-color: rgb(90, 32, 32);
    border-radius: 10px;
    font-size: 15px;
    color: white;
    margin-top: 20px;

}

#btn:hover {
    background-color: rgb(110, 44, 44);
}

#joke {
    margin-top: 20px;
    color: white;
    line-height: 1.5;
}
